*{box-sizing: border-box;}
body {font-family: 'Times New Roman', Times, serif;}
.mySlides{display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
}
.text {
    color: rgb(221, 245, 3);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: rgb(221, 245, 3);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(112, 8, 8, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s;
}
.active {
    background-color: rgba(13, 158, 0, 0.746);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: false;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px;}
}

.container {   
    text-align: center;
    padding-top: 0;
    margin: auto;
    width: 75%;
    background-color: rgb(73, 123, 163);
}
footer {
    text-align: center;
    
}
html {
    background-color: rgba(65, 71, 61, 0.404);
}