.container {
    border: 1px solid rgba(21, 236, 128, 0.89);
    border-radius: 5px;
    width:500px;
    background-image: url(../images/dragon2.png);
}
input {
    padding: 10px 20px;
    margin: 10px;
    box-sizing: border-box;
    width: 200px;
    background-color: rgba(221, 172, 233, 0.753);
}
input:focus {
    background-color: mediumaquamarine;
}
input[type=submit] {
    background-color: rgba(221, 172, 233, 0.753);
}
input[type=submit]:hover {
    background-color:  mediumaquamarine;
}
form {
    text-align: center;
}
label {
    color: mediumseagreen;
}
textarea {
    background-color: rgba(221, 172, 233, 0.753);
}
textarea:focus {
    background-color: mediumaquamarine;
}